    {{> header }}
    {{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Este es el titulo del about</h1>
        <p>Aca estan los loquillos</p>
    </div>
    <div class="col-4">
        <img src="assets/img/pp.jpeg" class="img-thumbnail">
    </div>
    
</div>


    {{> footer }}